* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
header{
    background-color: red;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.21);
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}
.row{
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: left;
}
.img{
    border-radius: 100%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.input{
    width: 120px;
    height: 30px;
    margin-top: 40px;
}
.btn-lupa{
  background: #B60808;
  width: 30px;
  height: 30px;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 20px;
}
.bi-person-circle{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
#btn-cart{
  width: 40px;
  height: 40px;
  margin-left: 0;
  margin-top: 0;
  border: none;
  background: red;
  color: black;
  font-size: 30px;
  position: relative;
  cursor: pointer;
}
.bi-cart-fill{
  margin-top: 0;
  margin-left: 0;
}

.btn-cart-badge {
  position: absolute;
  bottom: 0;
  right: 5px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  color: #ff0000;
}
.btn-cart-badge-show {
  display: flex;
  padding: 0 0 0 1px;
}
.bi-cart-fill{
  margin-top: 35px;
  margin-left: 0;
}
.btn {
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 9px 0;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    cursor: pointer;
    transition: all .3s linear;
    text-decoration: none;
  }
.btn-main {
    border: rgb(138, 32, 32);
    background-color: red;
    color: white;
  }
.btn-main:hover {
    background-color: rgb(255, 255, 255);
    border: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
  }
.btn-outline {
    background-color: transparent;
    color: rgb(255, 0, 0);
  }
.btn-outline:hover {
    background-color: red;
    color: white;
  }
  h1 {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin: 30px 0 15px;
  }
  h2, .h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
  }
  h3, .h3 {
    font-weight: 600;
    font-size: 16px;
    color: #333;
  }

.card {
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  .card p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .card-content {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .card-content .btn {
    margin-top: auto;
  }
.menu-lis{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 118px;
}
.menu-li{
  padding-left: 20px;
  flex: 0 0 84px;
  max-width: 84px;
  padding: 14px 4px 5px;
  box-sizing: content-box;
}
.menu-menu{
  border-radius: 100%;
  border: 3px solid #FFF;
  box-shadow: 0 0 0 5px #f19c8d;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 100%;
}
span{
  font-size: 12px;
  line-height: 14px;
  color: #444444;
  display: inline-block;
  padding-left: 15px;

}

.foto2{
    margin-left: 8px;
    margin-right: 10px;
}

.img1{
    margin-left: 20px;
    margin-right: 7px;
}
.img3{
    margin-right: 20px;
    margin-top: 35px;
}
.slick-dots{
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  bottom: -20px;
}
.presentation{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button{
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}
h5.img{
    margin-top: 35px;
}
.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 15px;
  }
  .error-alert {
    background-color: #fcc2c2;
    border: 1px solid #bd5656;
    border-radius: 4px;
    padding: 10px 15px;
    color: #8c0606;
  }
  .products-loading {
    text-align: center;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    color: #666;
    animation: loading 2s infinite linear;
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
footer{
    width: 100%;
    margin-top: 20px;
    display: block;
}
.footer-vermelho{
    width: 100%;
    margin-left: 0;
    background-color: red;
}
p{
    margin-bottom: 0;
}
.logo1{
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 15px;
}
.logo{
    margin-bottom: 10px;
    margin-top: 0;
}
.redes{
    margin-left: 80px;
    margin-top: 0;
    margin-bottom: 10px;
}
.redes1{
    margin-top: 0;
    margin-bottom: 10px;
}
.footer{
    text-align: justify;
    font-size: small;
    font-size: 8px;
    margin-bottom: 0;
    margin-left: 10px;
}
h6.footer{
    text-align: center;
    margin-top: 10px;
}
/*menu-dog*/
.menu-dog{
  position: fixed;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  top: 0;
  right: 0;
  width: 100px;
  height: 200px;
  display: none;
  flex-direction: column;
  padding: 15px;
}
.menu-dog-open{
  display: flex;
}
.menu{
  color: white;
  text-decoration: none;
}
/* CART SIDEBAR */
.cart-sidebar {
    position: fixed;
    background-color: rgb(255, 255, 255);
    color: #000;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    padding: 15px;
  }
  .cart-sidebar-open {
    display: flex;
  }
  #btn-close-cart {
    font-size: 30px;
    color: rgb(0, 0, 0);
    background: transparent;
    align-self: flex-end;
  }
  #empty-cart {
    flex-grow: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #empty-cart.empty-cart-show {
    display: flex;
  }
.fa-bag-shopping {
    color: red;
    font-size: 154px;
    opacity: 0.1;
    margin-bottom: 25px;
  }
  #cart-with-products {
    overflow: auto;
    display: none;
  }
  #cart-with-products.cart-with-products-show {
    display: block;
  }
  #cart-with-products ul {
    list-style: none;
  }
  #cart-with-products li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 1px solid #ff0000;
    padding: 12px 0;
  }
  #cart-with-products li img {
    border-radius: 5px;
    object-fit: cover;
  }
  #cart-with-products li .form-input {
    width: 68px;
    text-align: center;
    align-self: center;
  }
  #cart-with-products li button {
    color: red;
    font-size: 18px;
    width: 30px;
    height: 30px;
    background: transparent;
    align-self: center;
    cursor: pointer;
  }
  #cart-with-products li div {
    flex-grow: 1;
    flex-basis: 0;
  }
  #cart-with-products .btn-outline {
    margin-bottom: 12px;
  }
  /* FORMS */
.form-input {
    border: 1px solid #CED4DA;
    border-radius: 4px;
    height: 38px;
    font-family: inherit;
    padding: 9px;
    font-size: 16px;
  }
  .form-input::placeholder,
  .form-input:-ms-input-placeholder,
  .form-input::-ms-input-placeholder {
    color: #999;
    opacity: 1;
  }
  .form-group {
    margin-bottom: 12px;
  }
  .form-group label {
    color: #000;
    display: block;
  }
  .form-group .form-input {
    width: 100%;
  }
  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  
  /* FORM CHECKOUT */
  .form-checkout {
    max-width: 424px;
    margin: 0 auto;
  }

  .categorias{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: normal;
    cursor: pointer;
    font-weight: 400;
    font-size: 4.3vw;
  }
  .subcategoria{
    padding: 14px 20px;
    border-bottom: 1px solid #ccc;
  }
  ul li{
    line-height: 32px;
  }
.category{
    margin: 5px 0;
    background-color: #ededed;
    padding: 8px 20px;
    margin-bottom: 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    font-weight: 700;
    font-size: 5.4vw;
  }

.fa-solid.fa-angle-right{
  width: 8px;
  height: 15px;
  vertical-align: middle;
  color: red;
}
.rodape{
  margin: 4px 0 10px;
    padding: 4px 20px;
    font-size: 4.5vw;
    font-weight: 900;
    color: rgb(189, 16, 16);
    position: relative;
    text-transform: none;
    text-align: center;
    color: rgb(230, 29, 29);
    line-height: 26px;
    border-bottom: 1px solid #b01b1b;
}

